@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair", serif;
  --color-subtext: #717171;
  --color-primary: #3c3e6b;
}

/* start of home style */

/* start header style */

.topbar-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 16px 0px;
  align-Items: center;
  justify-content: center;
}

.topbar-container p {
  font-family: var(--font-poppins);
  color: var(--color-subtext);
  font-size: var(--text-sm) /* 0.875rem = 14px */;
  line-height: var(--tw-leading, var(--text-sm--line-height));
}

.topbar-icon {
  color: var(--color-gray-400);
  font-size: var(--text-lg);
}

/* end header style */

/* end of home page style */
